.product-desc {
  margin: 1em;;
}

.product-desc__name {
  color: black;
  font-weight: 400;
  margin: 0;
}

.product-desc__sku {
  color: #999;
}

.product-desc__description {
  margin-top: 1em;
  color: #6a6a6a;
}

.produc-desc__prices {
  margin-top: 2em;
}

.product-desc__price {
  display: flex;
  margin: 1em 0;
}

.product-desc__price > * {
  flex: 1;
}

.product-desc__price span {
  text-align: right;
}

.product-desc__price_normal{
  color: #999;

  & > span {
    text-decoration: line-through;
  }

}

.product-desc__price_internet{
  color: #999;
  font-weight: bold;
}

.product-desc__price_discount {
  color: #999;
  position: relative;
}

.product-desc__price_card {
  color: #e75353;
  font-weight: bold;
}

.product-desc__price_points {
  color: #70578b;
  font-weight: 500;
}

.product-discount-tag {
  position: absolute;
  background: #e75353;
  right: 5px;
  margin: 0;
  padding: 5px 5px 4px 0;
  color: #fff;
  font-size: 14px;
  min-width: 40px;
  z-index: 2;
}

.discount-percentage {
  padding-right: 10px;
}

.product-discount-tag:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(231,83,83,0);
  border-right-color: #e75353;
  border-width: 15px;
  margin-top: -15px;
}

