<div class="product-desc">

  <h2 class="product-desc__name">
    {{ product.name}}
  </h2>
  <div class="product-desc__sku">
    SKU: {{ product.partNumber}}
  </div>

  <div class="product-desc__description">
    {{ product.shortDescription}}
  </div>

  <div class="produc-desc__prices">

    <div class="product-desc__price product-desc__price_normal">
      <label>Normal</label>
      <span>{{ product.prices.listPrice | currency: 'CLP'}}</span>
    </div>
    <div class="product-desc__price product-desc__price_internet">
      <label>Internet</label>
      <span>{{ product.prices.offerPrice | currency: 'CLP'}}</span>
    </div>
    <div class="product-desc__price product-desc__price_card">
      <label> Tarjeta Ripley / Chek </label>
      <span>{{ product.prices.cardPrice | currency: 'CLP'}}</span>
    </div>
    <div class="product-desc__price product-desc__price_discount">
      <label>Descuento </label>
      <span class="product-discount-tag">
        <span class="discount-percentage">-{{product.prices.discountPercentage}}%</span>
      </span>
    </div>
    <div class="product-desc__price product-desc__price_points">
      <label>Acumulas</label>
      <span>{{ product.prices.ripleyPuntos }} RipleyPuntos GO</span>
    </div>

  </div>

</div>
