<div class="item" *ngIf="product">

  <div class="item__img">
    <img [src]="product.img" [alt]="product.name">
  </div>

  <div class="item__info">
    <label class="item__name"> {{ product.name}}</label>
    <p class="item__description">{{ product.description}}</p>
  </div>

  <div class="item__options">
    <label class="item__price">{{ product.price | currency: 'CLP'}} </label>
    <div class="item__more-info">
      <a mat-raised-button color="primary" [routerLink]="[product.id]">Más Información</a>
    </div>
  </div>

</div>
