.item {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  padding: 1em;
  border-bottom: 1px solid rgb(209, 209, 209);
  align-items: center;
}

.item__info {
  flex: 2 0 300px;
}
.item__img, .item__options {
  flex: 1 0 300px;
}

.item__options, .item__img {
  text-align: center;
}

.item__price {
  color: red;
  font-weight: bold;
}

.item__name {
  font-weight: bold;
  margin-bottom: 1em;;
}

.item__options {
  width: 100%;
  margin-top: 1em;
}

.item__more-info {
  width: 100%;
  display: block;
  margin-top: 1em;
}

.item__img {
  max-height: 200px;
  max-width: 100%;
}

img {
  max-width: 100%;
  height: 100%;
  max-height: 200px;
}

.item__description {
  color: gray;
}
