<ng-container *ngIf="products | async as products; else loading">

  <bripley-products-header [size]="products.length"></bripley-products-header>

  <bripley-products-catalog [products]="products"></bripley-products-catalog>

</ng-container>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
