<form [formGroup]="loginForm">
  <div class="login">
    <h2 class="login__title">Banco Ripley</h2>
    <h3 class="login__sub-title">Gracias por utilizar Banco Ripley</h3>

    <div class="login__error" *ngIf="authError">
      {{authError}}
    </div>

    <label class="login__description">Para ingresar debes colocar los siguientes datos:</label>

    <mat-form-field appearance="outline" class="login__field">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput placeholder="Correo Electrónico" formControlName="username">
      <mat-error *ngIf="loginForm.get('username').hasError('required')">
        Correo Electrónico Requerido
      </mat-error>
      <mat-error *ngIf="loginForm.get('username').hasError('email')">
        Correo Electrónico Inválido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="login__field">
      <mat-label> Password</mat-label>
      <input matInput placeholder="Password" type="password" formControlName="password">
      <mat-error *ngIf="loginForm.get('password').hasError('required')">
        Password Requerido
      </mat-error>
      <mat-error *ngIf="loginForm.get('password').hasError('invalidPassword')">
        Password Inválido
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" class="login__submit" [disabled]="loggingIn"
      (click)="emitLogin()">Ingresar</button>

  </div>
</form>
