.login {
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  max-width: 375px;
  & > * {
    display: block;
    width: 100%;
  }
}

.login__field {
  margin-top: 1em;
}
.login__description {
  text-align: left;
  margin-top: 3em;
  margin-bottom: 1em;
}

.login__recovery-password {
  text-decoration: none;
}

.login__submit {
  margin: 2em 0 1em 0;
}

.login__error{
  background-color: red;
  color: white;
  padding: 0.5em;
  border-radius: 4px;
}


