<mat-progress-bar *ngIf="checkingAuthentication | async; else app" mode="indeterminate"></mat-progress-bar>
<ng-template #app>
  <header *ngIf="isAuthenticated | async">
    <button id="logout-button" mat-icon-button color="primary" mat-icon-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </header>
  <router-outlet></router-outlet>
</ng-template>
