.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product__img, .product__desc {
  flex: 1 0 300px;
}

.product__img {
  margin: 0 2em;
}

img {
  width: 100%;
  height: 100%;
}
