<ng-container *ngIf="product | async as product; else loading ">

  <div class="product">
    <div class="product__img">
      <img [src]="product.fullImage">
    </div>

    <div class="product__desc">
      <bripley-product-description [product]="product"></bripley-product-description>
    </div>
  </div>

</ng-container>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
