/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


h1, h2{
  color: #673ab7;
}
